@charset "UTF-8";

/* FOOTER FIX */
.footer{
    width:100%;
    text-align:center;
    background: rgba(0,0,0,0.15);
    backdrop-filter: blur(5px);
    color:#111;
    font-size:14px;
    margin-top:auto !important;
    padding:22px 10px;
}

.footer-text{
    margin:0;
    font-weight:600;
}

.footer-subtext{
    margin:3px 0 0 0;
    font-size:13px;
}

.footer-subtext span{
    color:#e11d48;
    font-weight:600;
}

.footer::before {
    content: "";
    display: block;
    height: 4px;
    background: linear-gradient(90deg, #00bcd4, #00acc1, #26c6da, #4dd0e1);
    margin-bottom: 20px;
}



