@charset "UTF-8";
/*  RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

/*  BACKGROUND */
.auth-container {
    min-height: 100vh;
     background: #86EDE2;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CARD  */
.auth-card {
    width: 420px;
    background: #ffffff;
    border-radius: 18px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
    padding: 35px 30px;
}

/*  HEADER  */
.auth-header {
    text-align: center;
    margin-bottom: 30px;
}

.auth-header h2 {
    font-size: 32px;
    font-weight: 700;
    color: #2b2b2b;
}

/* INPUT GROUP  */
.input-group {
    display: flex;
    align-items: center;
    border: 1px solid #dcdcdc;
    border-radius: 12px;
    padding: 14px 16px;
    margin-bottom: 20px;
    transition: 0.3s;
    background: #fff;
}

.input-group i {
    color: #6c63ff;
    font-size: 18px;
    margin-right: 12px;
}

.input-group input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 15px;
    color: #333;
}

/* focus effect */
.input-group:focus-within {
    border-color: #6c63ff;
    box-shadow: 0 0 0 2px rgba(108, 99, 255, 0.15);
}

/*  BUTTON */
.btn {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
    background: linear-gradient(
        135deg,
        #6c63ff,
        #7b5fc7
    );
    transition: 0.3s;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(108, 99, 255, 0.4);
}

/*  LINKS  */
.link {
    text-align: center;
    margin-top: 18px;
}

.link a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #2563eb;
}

.link a:hover {
    text-decoration: underline;
}

.success-alert {
    background: linear-gradient(135deg, #28a745, #43d854);
    color: #ffffff;
    padding: 14px 18px;
    border-radius: 10px;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 15px;
    font-weight: 500;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    animation: alertSlide 0.5s ease forwards;
}

.success-alert i {
    font-size: 22px;
}

/* Animation */
@keyframes alertSlide {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}